//
//  Development.xcconfig
//  Environments
//
//  Created by Glauco Dantas Beserra  on 27/01/20.
//  Copyright © 2020 DB1 Global Software. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Environments/Pods-Environments.development.xcconfig"

BASE_URL = api.example.dev
API_KEY = 4571047960318d233d64028363dfa771

DISPLAY_NAME = (DEV) Environments
APP_BUNDLE_ID = com.db1.Environments.dev
