//
//  Production.xcconfig
//  Environments
//
//  Created by Glauco Dantas Beserra  on 27/01/20.
//  Copyright © 2020 DB1 Global Software. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Target Support Files/Pods-Environments/Pods-Environments.production.xcconfig"

BASE_URL = api.example.com
API_KEY = 9e053b0285394378cf3259ed86cd7504

DISPLAY_NAME = Environments
APP_BUNDLE_ID = com.db1.Environments
