//
//  Debug.xcconfig
//  Demo
//
//  Created by Glauco Dantas Beserra  on 28/01/20.
//  Copyright © 2020 Glauco Dantas Beserra . All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Pods/Target Support Files/Pods-Demo/Pods-Demo.debug.xcconfig"

// App Config

DISPLAY_NAME = Demo (Debug)
APP_BUNDLE_ID = com.db1.Demo.debug

// API Config

BASE_URL = api.example.debug
API_KEY = 49ud0930djd_md9zdjdko3830lb0d771
